@charset "UTF-8";
/* Turn Images into Mauve */
/* WP OVERRIDES */
.wp-caption.alignnone {
  width: 700px !important;
  margin: 20px auto; }

/* BB OVERRIDES */
.fl-builder-bar-title img {
  display: none; }

/* Resetting what the menu drop-downs treat as the position container
.fl-page-header-wrap								{ position:relative; }
.fl-page-header-container 							{ position:initial !important; }
 */
.fl-page-nav-right .fl-page-header-wrap {
  border-bottom: 0px; }

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li > a {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 0;
  color: #fff; }

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li > a:hover {
  color: #029ecf; }

.fl-page-header {
  background-color: #79d6f4; }

@media (min-width: 992px) {
  .fl-page-nav-right .fl-page-header-container {
    padding-top: 5px;
    padding-bottom: 10px; }

  .fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col {
    position: relative; }

  .fl-page-nav-right .fl-page-header-logo {
    position: absolute;
    top: -10px;
    margin-left: -5px;
    border: 4px solid #fff;
    padding: 5px 10px;
    background-color: #7ae2c5;
    z-index: 5; }

  .fl-page-nav-search {
    padding-top: 0; }

  .fl-page-nav-right .fl-page-nav-wrap * {
    color: #fff; }

  .fl-page-nav-right .fl-page-nav-wrap a,
  .fl-page-nav-right .fl-page-nav-wrap a *,
  .fl-page-nav-right .fl-page-nav-wrap a.fa {
    color: #fff; } }
.fl-page-nav-collapse ul.navbar-nav > li {
  border-color: #11072d; }

.fl-logo-img {
  width: 250px !important; }

.fl-page-header {
  border-color: #11072d; }

.fl-page-footer {
  border: 0;
  font-size: 90%; }

.fl-page-content {
  border-top: 3px solid #fff; }

.fl-page-footer-nav {
  font-size: 100%; }

.wp-caption p.wp-caption-text {
  font-size: 100%;
  line-height: 180%;
  color: #808080; }

/* Overrides for Magnific Popup */
.mfp-issuu .mfp-wrap {
  overflow-y: hidden !important; }
.mfp-issuu .mfp-iframe-holder .mfp-content {
  max-width: none;
  height: 100%; }
.mfp-issuu .mfp-iframe-scaler iframe {
  box-shadow: none; }
.mfp-issuu .mfp-iframe-holder .mfp-close {
  right: 20px;
  font-size: 300%;
  color: #b4e7f8; }
.mfp-issuu .mfp-iframe-holder {
  padding: 0; }

.mfp-bg {
  background: #100e19;
  opacity: 0.9; }

.mfp-arrow i {
  font-size: 250%; }

.mfp-arrow.arrow-right {
  right: 0; }

/* Syntax Highlighter Overrrides */
.syntaxhighlighter {
  font-size: 0.85em !important;
  padding: 5px;
  background-color: #f5f5f5 !important; }

.syntaxhighlighter table td.code .line {
  padding: 0.25em 1em !important; }

.syntaxhighlighter .line.alt1 {
  background-color: #f5f5f5 !important; }

.syntaxhighlighter .line.alt2 {
  background-color: #f5f5f5 !important; }

.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
  color: #333 !important; }

.wp-caption {
  border: 0; }

/* SITE WIDE STYLE HACKS */
ul.wide,
ol.wide {
  margin: 10px 0; }
  ul.wide li,
  ol.wide li {
    margin-bottom: 10px; }
    ul.wide li > b,
    ol.wide li > b {
      display: block; }

ul.nodots {
  list-style-type: none;
  padding-left: 0; }

ul.noindent {
  padding-left: 20px; }

ul.noindent.nodots {
  padding-left: 0; }

a {
  color: #029ecf; }

h1 + .subtitle,
h2 + .subtitle {
  font-size: 125%;
  color: #aba7bd; }

.btn {
  background-color: rgba(24, 90, 148, 0.6);
  border-radius: 2px;
  font-weight: bold;
  color: #fff; }
  .btn:hover, .btn a:hover {
    background-color: #7ae2c5;
    color: #fff; }
  .btn a:visited {
    color: #fff; }
  .btn.large {
    font-size: 130%; }
  .btn.wide {
    width: 100%; }

.hitter {
  text-align: center; }
  .hitter .large.icon {
    font-size: 500%;
    color: #79d6f4; }
  .hitter h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 125%;
    margin-top: 0; }

/* Page styles */
h1 {
  font-size: 35px;
  font-weight: 900; }
  @media (min-width: 992px) {
    h1 {
      font-size: 45px; } }

h2 {
  font-weight: 900; }

h3 {
  font-weight: 900;
  margin-top: 30px; }

h4 {
  font-weight: 900;
  margin-top: 30px; }

.section-heading {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 85%;
  height: 24px;
  line-height: 1.6;
  text-transform: uppercase;
  padding: 0;
  margin: 20px 0 20px;
  background-size: 49px 50px;
  background-repeat: repeat;
  background-color: #029ecf;
  background-image: url(/wp-content/themes/latitude38/images/section-header-bg.png); }
  .section-heading .title {
    background-color: #029ecf;
    color: #fff;
    height: 24px;
    padding: 0 10px;
    width: 196px;
    display: inline-block; }

.category-heading {
  font-size: 140%;
  text-align: center;
  color: #a0c2ce;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: -20px 0px 20px; }

/* Fix to enable deep-linking within the doc... otherwise the part jumped to is hidden by the menu. */
/* h3:before,  h4:before,  h5:before  {  display:block; content:" ";  margin-top:-110px;  height:110px;  visibility:hidden; }
*/
.std_panel h1 {
  text-align: center; }
.std_panel h2 {
  text-align: center;
  font-size: 250%; }
.std_panel h1 .highlight {
  font-weight: bold; }
.std_panel h1 + .subtitle,
.std_panel h2 + .subtitle {
  text-align: center; }
.std_panel .big_copy p {
  font-size: 125%;
  margin-top: 3rem; }

.on_dark {
  color: #e2e3e9;
  background-color: #203230;
  font-weight: 400; }
  .on_dark h1 {
    color: #fff; }
  .on_dark h2 {
    color: #fff; }
  .on_dark h3 {
    color: #fff; }
  .on_dark a {
    color: #fff; }
  .on_dark .caption {
    color: #d4d1e1; }
  .on_dark .btn {
    background-color: #79d6f4;
    color: #fff; }
    .on_dark .btn:hover {
      background-color: #029ecf; }
  .on_dark .white-btn {
    padding: 8px 15px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
    .on_dark .white-btn:hover {
      background-color: #fff;
      color: #333; }

.on_accent1 {
  color: #fff;
  background-color: #029ecf;
  font-weight: 400; }
  .on_accent1 h1 {
    color: #fff; }
  .on_accent1 h2 {
    color: #fff; }
  .on_accent1 h3 {
    color: #fff; }
  .on_accent1 a {
    color: #fff;
    text-decoration: underline; }
  .on_accent1 .subtitle {
    color: #fff; }
  .on_accent1 .caption {
    color: #fff; }
  .on_accent1 .btn {
    background-color: #79d6f4;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    margin-top: -3px; }
    .on_accent1 .btn:hover {
      background-color: #fff; }

.on_grey {
  background-color: #f3f3f3; }
  .on_grey .subtitle {
    color: #a8a4bd; }
  .on_grey .section-heading {
    background-image: url(/wp-content/themes/latitude38/images/section-header-ongrey-bg.png); }

.on_white {
  background-color: #fff; }

/* Sidebar */
.fl-sidebar-right .module {
  border: 4px solid #f6f6f6;
  margin-bottom: 20px; }

.fl-sidebar-right .module h3 {
  margin: 0;
  padding: 5px 10px;
  background-color: #f6f6f6; }

.fl-sidebar-right .module > div {
  margin: 5px;
  padding: 5px; }

/* Captions below photos */
figure.wp-caption {
  max-width: 700px;
  margin: 20px auto; }

figcaption,
.fl-photo-caption {
  font-size: 90%;
  color: #999;
  text-overflow: default;
  margin: 10px 10px 0; }

figcaption .source {
  margin-top: 15px; }

.fl-photo-caption-hover {
  color: #fff; }

.single-post .fl-post {
  max-width: 900px;
  margin: auto; }
.single-post .fl-post-content img {
  width: 100%; }
.single-post .fl-comments {
  max-width: 900px;
  margin: auto; }
  @media only screen and (min-width: 47.9375em) {
    .single-post .fl-comments {
      padding: 0 20px; } }

@media only screen and (min-width: 47.9375em) {
  .opening-panel {
    background: #fff url(/wp-content/themes/latitude38/images/lectronic_bg_head.jpg) no-repeat;
    background-size: 100%; }
    .opening-panel .fl-row-content {
      background-color: #fff;
      max-width: 1140px; }
    .opening-panel .fl-row-content-wrap {
      padding-top: 40px; } }
/* Category Link Treatment */
.post-categories {
  list-style-type: none;
  font-size: 85%;
  position: relative;
  left: -5px;
  padding: 0; }
  .post-categories li {
    display: inline-block;
    background-color: #f3f3f3;
    padding: 1px 8px; }
  .post-categories a {
    color: #999; }

/* Edit Link - Usually used to give Admins the ability to edit a chunk of content */
.edit_link,
.edit_link a,
a.edit_link,
.ssba-sharecount {
  display: none; }

.admin-bar .edit_link {
  display: initial; }

.admin-bar .edit_link a,
.admin-bar a.edit_link,
.admin-bar a.post-edit-link {
  display: initial;
  color: #f03059;
  font-size: 13px !important;
  text-decoration: none !important;
  font-weight: normal !important;
  text-transform: none !important; }

.admin-bar .ssba-sharecount {
  display: block; }

.callout {
  background-color: #f3f3f3;
  padding: 10px 20px 10px 60px;
  margin: 20px 0 20px; }
  .callout p {
    margin: 0; }
  .callout p:first-child:before {
    display: block;
    font-size: 200%;
    color: #878196;
    float: left;
    margin-left: -45px;
    margin-top: -5px;
    font-family: 'FontAwesome';
    content: '\f05a'; }
  .callout.advice p:first-child:before {
    content: '\f1cd'; }
  .callout.warning {
    background-color: #fff4db;
    color: #cc9001; }
  .callout.warning p:first-child:before {
    content: '\f071';
    color: #f5ad00; }
  .callout.success {
    background-color: #edfbed;
    color: #476747; }
  .callout.success p:first-child:before {
    content: '\f046';
    color: #476747; }

/* Notes to self */
.jz_note {
  display: none;
  background-color: #f6f600;
  color: #553;
  position: relative;
  padding: 0 5px;
  font-size: 90%;
  border: 1px dashed #d9da66; }

.admin-bar .jz_note {
  display: none; }

/* In the footer of the page? */
.social-icons {
  margin-left: 5px;
  font-size: 20px;
  display: inline-block; }
  .social-icons a {
    color: #fff;
    text-align: right; }
  .social-icons i {
    padding-left: 8px; }

.avatar {
  background: #fff;
  border: 4px solid #ededef;
  border-radius: 5px; }
  .avatar img {
    display: block;
    width: 110px;
    height: 110px; }

.kin-breadcrumb {
  text-transform: uppercase; }

.intro-para {
  font-size: 125%;
  margin-bottom: 20px; }

/* Layout for an image with a video click handler */
a.vidoverlay {
  position: relative;
  font-size: 700%; }

a.vidoverlay:before {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 5;
  content: '\F01D';
  font-family: "FontAwesome";
  opacity: 0.6;
  color: #71698a; }

a.vidoverlay.dark:before {
  color: #fff; }

a.vidoverlay:hover:before {
  opacity: 0.9; }

/* Hide some content from public viewing */
.hide-from-public {
  display: none; }

.insider .hide-from-public,
.admin-bar .hide-from-public {
  display: block; }

/* Content Tables are used to display information in the body of the content */
.data-table {
  width: 100%;
  background-color: #fff; }
  .data-table th {
    color: #fff;
    background-color: #271759;
    padding: 2px 5px;
    border: 1px solid #fff; }
  .data-table td {
    padding: 2px 5px;
    border: 1px solid #fff; }
  .data-table tr:nth-child(odd) {
    background-color: #f3f3f3; }
    .data-table tr:nth-child(odd) td:first-child {
      background-color: #f3f3f3;
      font-weight: 500; }
  .data-table tr:nth-child(even) {
    background-color: #f6f6f6; }
    .data-table tr:nth-child(even) td:first-child {
      background-color: #f6f6f6;
      font-weight: 500; }

.pullquote {
  font-style: normal;
  color: #000000;
  border-left: 8px solid #203230;
  padding-left: 30px;
  margin: 20px 0; }
  .pullquote .quote {
    color: #4d4a56;
    display: block;
    position: relative;
    margin-bottom: 10px;
    font-size: 180%;
    font-weight: 500;
    font-family: "Helvetica Neue", "Helvetica", Roboto, Arial, sans-serif;
    line-height: 1.3em; }
  .pullquote .quote:before {
    padding-top: 5px;
    content: '“';
    color: #203230;
    font-size: 250%;
    display: block;
    height: 0.55em; }
  .pullquote .attribution {
    font-size: 75%;
    display: block; }

/* Style the warning for private pages */
h1 .private_notice {
  background-color: #c00;
  font-size: 10px;
  color: #fff;
  padding: 3px 8px;
  border-radius: 2px;
  vertical-align: text-top; }

/* Results of forms... this would be inserted into the header of the page.  - GF Handles it differently . FadeIn will be faded in */
.response {
  border-left: 5px solid #666;
  background-color: #f6f6f6;
  padding: 5px 10px;
  font-size: 90%;
  margin: 10px 0px 20px; }

.response .title {
  font-size: 120%;
  font-weight: 700; }

.response.success {
  border-left: 5px solid #69be28;
  background-color: #e6f2df;
  color: #69be28; }

.response.success a {
  color: #3d7215; }

.response.success .title {
  color: #69be28;
  font-weight: bold; }

.response.fail {
  border-left: 5px solid #c00;
  background-color: #fcc; }

.response.fail .title {
  color: #c00; }

.response.fail .title a {
  color: #800; }

.tabs {
  padding-left: 0;
  border-bottom: 1px solid #ccc;
  margin-top: 20px; }
  .tabs .tab {
    background-color: #f6f6f6;
    top: 1px;
    position: relative;
    display: inline-block;
    list-style-type: none;
    border-radius: 3px;
    padding: 3px 10px 3px;
    border: 1px solid #ccc;
    margin-right: 5px; }
    .tabs .tab.active {
      background-color: #fff;
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
      font-weight: bold;
      border-bottom-color: #fff; }

.tabbed .section {
  display: none; }
  .tabbed .section.active {
    display: block; }

.new {
  vertical-align: super;
  font-size: 70%;
  font-weight: normal;
  color: #933;
  padding: 0 3px; }

/* Bootstrap Overrides */
.breadcrumb {
  background-color: initial;
  font-size: 90%;
  text-transform: uppercase;
  padding: 0;
  margin-left: 5px; }

/* STD Forms */
button, input[type=button], input[type=submit] {
  border: 0; }

button:hover, input[type=button]:hover, input[type=submit]:hover {
  background-color: #f03059;
  border: 0; }

button:active, input[type=button]:active, input[type=submit]:active {
  background-color: #f03059;
  border: 0; }

/* GRAVITY FORMS DEFAULT STYLING */
.gf-modal {
  position: relative;
  padding: 20px;
  background: #fff;
  width: auto;
  max-width: 600px;
  margin: 20px auto; }
  .gf-modal .gform_footer {
    text-align: right; }
  .gf-modal .gform_wrapper {
    margin: 0; }
  .gf-modal .gform_wrapper h3.gform_title {
    margin: -20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #254a71;
    color: #fff;
    text-transform: uppercase; }

.gform_wrapper .gf_step span.gf_step_number {
  font-size: 120%;
  font-weight: bold;
  padding-top: 2px;
  font-family: "Open Sans", sans-serif;
  margin-right: 4px;
  background-color: #f190aa;
  color: #fff;
  vertical-align: middle;
  border-radius: 20px;
  text-align: center;
  width: 25px;
  height: 25px;
  margin-right: 5px; }

/* Progress Bar */
.gform_wrapper .percentbar_blue {
  background-color: #2e89bd;
  color: #fff; }

.gform_wrapper .gf_progressbar {
  padding: 0; }

/* Error Messages */
.gform_wrapper div.validation_error {
  background-color: #ffeaea;
  border: 0;
  color: #c31717; }

.gform_wrapper li.gfield.gfield_error {
  border: 0;
  background-color: initial; }

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  margin-top: initial; }

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper li.gfield_error textarea {
  border: 1px solid #c31717; }

.gform_wrapper .field_description_below.gfield_error .gfield_description {
  padding-top: 0; }

.gform_wrapper .gfield_error .gfield_label {
  color: #c31717; }

.gform_wrapper .validation_message {
  color: #c31717; }

.single-issue .cover {
  text-align: center;
  padding-bottom: 20px; }

.type-cover-features .feature {
  overflow: auto;
  width: 50%;
  float: left; }
  .type-cover-features .feature .feature-image {
    border-right: 15px solid #f3f3f3;
    height: 207px;
    background-size: cover;
    position: relative;
    margin-bottom: 13px; }
  .type-cover-features .feature .title {
    background-color: #00000088;
    font-weight: 700;
    font-size: 120%;
    color: #fff;
    padding: 10px;
    margin: 0; }
  .type-cover-features .feature .page {
    font-size: 90%;
    text-align: center;
    background-color: #000000cc;
    position: absolute;
    color: #fff;
    bottom: 0;
    right: 0;
    padding: 5px; }
  .type-cover-features .feature .desc {
    display: none; }
@media only screen and (min-width: 47.9375em) {
  .type-cover-features .magazine-features {
    margin-left: 33%; }
  .type-cover-features .magazine-contents {
    overflow: auto;
    padding-left: 20px; }
  .type-cover-features .cover {
    width: 30%;
    float: left; }
    .type-cover-features .cover img {
      width: 100%; } }
@media only screen and (min-width: 75em) {
  .type-cover-features .feature {
    width: 33%; } }

.type-features .feature {
  overflow: auto;
  width: 50%;
  float: left; }
  .type-features .feature .feature-image {
    border-right: 15px solid #fff;
    height: 207px;
    background-size: cover;
    position: relative;
    margin-bottom: 13px; }
    .type-features .feature .feature-image:nth-child(3n+1) {
      border-right: 0; }
  .type-features .feature .title {
    background-color: #00000088;
    font-family: 'Roboto Condensed', 'Source Sans', sans-serif;
    font-weight: 700;
    font-size: 120%;
    color: #fff;
    padding: 10px;
    margin: 0; }
  .type-features .feature .page {
    font-size: 90%;
    text-align: center;
    background-color: #000000cc;
    position: absolute;
    color: #fff;
    bottom: 0;
    right: 0;
    padding: 5px; }
  .type-features .feature .desc {
    display: none; }
@media only screen and (min-width: 47.9375em) {
  .type-features .magazine-contents {
    overflow: auto;
    padding-left: 20px; } }
@media only screen and (min-width: 75em) {
  .type-features .feature {
    width: 33%; } }

@media only screen and (min-width: 47.9375em) {
  .type-cover-contents .cover {
    width: 30%;
    float: left; }
    .type-cover-contents .cover img {
      width: 100%; }
  .type-cover-contents .magazine-contents {
    overflow: auto;
    padding-left: 20px; } }

.magazine-contents a {
  text-decoration: none;
  color: #777; }
  .magazine-contents a:hover {
    text-decoration: none; }
.magazine-contents .section {
  overflow: auto;
  padding: 5px 0;
  margin: 5px 0;
  margin-bottom: 10px; }
.magazine-contents .title {
  font-family: 'Roboto Condensed', 'Source Sans', sans-serif;
  border-bottom: 3px dashed #f6f6f6;
  margin-top: 0; }
  .magazine-contents .title:hover {
    border-color: #b4e7f8; }
.magazine-contents .page {
  display: inline-block;
  float: right;
  color: #333;
  text-align: right; }
.magazine-contents .also {
  padding-top: 10px;
  clear: both; }
  .magazine-contents .also:before {
    font-style: italic;
    content: "Also: "; }
.magazine-contents .parts {
  padding-left: 0;
  overflow: auto;
  list-style-type: none;
  background-size: 180px 100%; }
  .magazine-contents .parts li {
    border-bottom: 3px solid #fff; }
    .magazine-contents .parts li:hover {
      border-bottom: 3px dashed #b4e7f8; }
.magazine-contents .section-image {
  display: none;
  width: 100%;
  height: 150px;
  background-size: cover;
  position: relative; }
.magazine-contents .subtitle {
  background-color: #00000088;
  font-weight: 400;
  color: #fff;
  padding: 10px; }
.magazine-contents .subtitle-page {
  display: none;
  font-size: 90%;
  text-align: center;
  background-color: #00000099;
  position: absolute;
  color: #fff;
  bottom: 0;
  right: 0;
  padding: 5px; }
.magazine-contents .desc {
  margin-top: -5px; }
.magazine-contents .feature-image {
  float: left;
  margin-right: 20px;
  width: 180px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat; }
@media only screen and (min-width: 47.9375em) {
  .magazine-contents .section-image {
    display: block;
    float: left;
    width: 180px;
    margin-right: 15px;
    position: relative; }
  .magazine-contents .subtitle {
    display: none; }
  .magazine-contents .section {
    padding: 5px;
    margin: 5px; } }

.magazine-archive {
  margin: 0 -20px; }
  .magazine-archive .magazine-cover {
    float: left;
    margin: 20px; }
  .magazine-archive .title {
    margin: 5px 0; }
  .magazine-archive .cover {
    display: block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 150ms; }
    .magazine-archive .cover img {
      width: 180px;
      height: 232px; }

/* Are these the lectronic stories on archive pages... if so, we should update the css to match the standard. */
.stories h2 {
  margin-top: 0; }
.stories .story {
  overflow: auto;
  margin-bottom: 20px; }
.stories .title {
  font-size: 140%;
  font-weight: bold;
  color: #333;
  margin-left: 170px; }
.stories .img img {
  width: 150px;
  float: left; }
.stories .desc {
  margin-left: 170px; }

.column-step {
  background-color: #79d6f4;
  color: #fff;
  padding: 20px 10px 40px;
  text-align: center; }
  .column-step .order {
    font-size: 400%;
    font-weight: bold;
    padding: 10px;
    border-bottom: 3px solid #029ecf;
    margin: 0 80px; }
  .column-step .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 150%;
    margin: 10px 0;
    color: #fff; }
  .column-step .desc {
    color: #fff;
    margin: 20px 0; }

/* Lectronic-Edition covers output of the lectronic widget that displays stories from a current edition. It should also be used for archive listings of stories. */
.lectronic-edition {
  overflow: hidden;
  /* Note... these layouts require the assistance of equalize.js and the selectors are called in scripts.js */ }
  .lectronic-edition .story {
    margin-bottom: 30px;
    overflow: hidden; }
    .lectronic-edition .story .title {
      font-weight: 900;
      margin: 0px;
      font-size: 160%;
      line-height: 1.35; }
      .lectronic-edition .story .title a {
        color: #333; }
      .lectronic-edition .story .title a:hover {
        color: #029ecf;
        text-decoration: none; }
  .lectronic-edition .alt_header {
    color: #029ecf;
    font-size: 90%;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 5px; }
  .lectronic-edition .read-more {
    display: inline; }
  .lectronic-edition .edit_link {
    display: block; }
  .lectronic-edition .desc {
    font-size: 95%;
    margin-right: 10px; }
  .lectronic-edition .image {
    background-size: cover;
    overflow: hidden;
    padding-top: 56.25%;
    background-position: center; }
    .lectronic-edition .image img {
      display: none; }
  @media only screen and (min-width: 47.9375em) {
    .lectronic-edition {
      margin-bottom: 10px; }
      .lectronic-edition.first .section-heading {
        margin-top: 0; }
      .lectronic-edition.two-story .story {
        float: left;
        width: 48%;
        margin-right: 2%; }
        .lectronic-edition.two-story .story:last-child {
          margin-right: 0; }
      .lectronic-edition.first.three-story .main.story .title {
        font-size: 200%; }
      .lectronic-edition.first.three-story .main.story .image {
        float: left;
        width: 48%;
        height: 300px;
        padding-top: 0;
        margin-right: 20px; }
      .lectronic-edition.first.three-story .main.story .alt_header {
        margin-top: 0; }
      .lectronic-edition.first.three-story .normal.story {
        float: left;
        width: 48%;
        margin-right: 2%; }
        .lectronic-edition.first.three-story .normal.story:last-child {
          margin-right: 0; }
      .lectronic-edition.three-story:not(.first) .story {
        float: left;
        width: 32%;
        margin-right: 2%; }
        .lectronic-edition.three-story:not(.first) .story:last-child {
          margin-right: 0; }
      .lectronic-edition.four-story .main.story .title {
        font-size: 200%; }
      .lectronic-edition.four-story .main.story .image {
        float: left;
        width: 50%;
        height: 275px;
        padding-top: 0;
        margin-right: 20px; }
      .lectronic-edition.four-story .main.story .alt_header {
        margin-top: 0; }
      .lectronic-edition.four-story .normal.story {
        float: left;
        width: 32%;
        margin-right: 2%; }
        .lectronic-edition.four-story .normal.story:last-child {
          margin-right: 0; }
      .lectronic-edition.five-story .story, .lectronic-edition.six-story .story, .lectronic-edition.seven-story .story, .lectronic-edition.eight-story .story {
        float: left;
        width: 32%;
        margin-right: 2%; }
        .lectronic-edition.five-story .story:nth-child(3n+1), .lectronic-edition.six-story .story:nth-child(3n+1), .lectronic-edition.seven-story .story:nth-child(3n+1), .lectronic-edition.eight-story .story:nth-child(3n+1) {
          margin-right: 0; } }

.lectronic_stories .older-links {
  font-weight: 400;
  text-align: right;
  border-bottom: 3px dashed #e6e6e6; }
  .lectronic_stories .older-links:hover a {
    text-decoration: none; }

.home .lectronic_stories .main.story .image {
  max-height: 250px; }
.home .lectronic_stories .normal .desc {
  display: none; }
.home .lectronic_stories .normal .title {
  font-size: 140%; }
.home .lectronic_stories .older-links {
  margin-top: -30px; }

/* This is the widget that holds all the stories on the lectronic page. */
.lectronic-all-stories {
  background-color: #fff;
  padding: 20px; }

.lectronic-edition-stories {
  max-width: 840px;
  margin: auto; }

/* This is the background to lectronic headers! */
.lectronic {
  background: #fff url(/wp-content/themes/latitude38/images/lectronic_bg_head.jpg) no-repeat;
  background-size: 100%; }

.lectronic-logo {
  max-width: 600px;
  margin: 60px auto 20px; }

.lectronic-header {
  max-width: 820px;
  margin: auto;
  background-color: #f3f3f3;
  overflow: auto; }
  .lectronic-header .img {
    padding: 5px 20px; }
  .lectronic-header .date {
    float: left;
    padding: 5px 40px 10px 20px; }
  .lectronic-header .day {
    font-size: 400%;
    line-height: 1.1;
    display: block; }
  .lectronic-header .mo {
    font-size: 220%;
    line-height: 1.1;
    display: block; }
  .lectronic-header .yr {
    font-size: 200%;
    line-height: 1.3;
    display: block; }
  .lectronic-header .stories {
    list-style-type: none;
    padding: 10px;
    font-size: 120%; }

.single-post .fl-page-content {
  background: #fff url(/wp-content/themes/latitude38/images/lectronic_bg_head.jpg) no-repeat;
  background-size: 100%; }
.single-post .fl-post {
  background-color: #fff;
  padding: 20px; }
.single-post .alt_header {
  color: #029ecf;
  font-size: 85%;
  text-transform: uppercase;
  font-family: open-sans, sans-serif;
  font-weight: 300; }
.single-post .widget.lectronic_stories {
  max-width: 900px;
  padding: 0 20px;
  margin: auto; }

.day h2 {
  font-size: 35px;
  font-weight: 900; }
  @media (min-width: 992px) {
    .day h2 {
      font-size: 45px; } }

.archive.day .fl-archive {
  max-width: 900px; }
.archive .fl-post-meta-top {
  margin: -5px 0 20px; }
.archive .fl-page-content {
  background: #fff url(/wp-content/themes/latitude38/images/lectronic_bg_head.jpg) no-repeat;
  background-size: 100%; }
.archive .fl-content {
  background-color: #fff;
  padding: 30px;
  margin-top: 0; }
.archive .fl-archive-header .section-heading {
  margin-bottom: 0; }

.archive article .fl-post-thumb {
  float: left;
  height: 200px;
  overflow: hidden;
  margin-right: 20px; }
  .archive article .fl-post-thumb img {
    max-width: 300px; }
.archive article h2 {
  margin-bottom: 10px; }
.archive .fl-post-header {
  margin-bottom: 0; }

/*# sourceMappingURL=base.css.map */
