.single-issue 				{
	.cover					{ text-align:center; padding-bottom:20px;
		img					{ box-shadow:0 0 10px #00000077; border-bottom:1px solid #ccc; border-right:1px solid #ccc;
			&:hover			{ box-shadow:0 0 10px #000000aa; }
		}
	}
	.download-links		{ margin-top:15px; font-size:90%;
		.btn 			{ margin-bottom:5px; font-size:100%; }
	}
}

.type-cover-features {
	.feature 				{ overflow:auto; width:50%; float:left;
		.feature-image		{ border-right:15px solid $background-grey; height:207px; background-size:cover; position:relative; margin-bottom:13px; }
		.title				{ background-color:#00000088; font-weight:700; font-size:120%; color:#fff; padding:10px; margin:0; }
		.page				{ font-size:90%; text-align:center; background-color:#000000cc; position:absolute; color:#fff;  bottom:0; right:0; padding:5px; }
		.desc				{ display:none; }
	}

	.features-contents-link { clear:both; text-align:center; font-size:90%; }


	@include breakpoint(medium) {
		.magazine-features	{ overflow:auto; margin-left:33%; }
		.magazine-contents 	{ overflow:auto; padding-left:20px; }
		.cover				{ width:30%; float:left;
			img 			{ width:100%;  }
		}
	}

	@include breakpoint(large) {
		.feature 			{ width:33% }
	}
}

.type-features {
	.feature 				{ overflow:auto; width:50%; float:left;
		.feature-image		{ border-right:15px solid #fff; height:207px; background-size:cover; position:relative; margin-bottom:13px;
			&:nth-child(3n+1) { border-right:0; }
		}
		.title				{ background-color:#00000088; font-family: 'Roboto Condensed', 'Source Sans', sans-serif; font-weight:700; font-size:120%; color:#fff; padding:10px; margin:0; }
		.page				{ font-size:90%; text-align:center; background-color:#000000cc; position:absolute; color:#fff;  bottom:0; right:0; padding:5px; }
		.desc				{ display:none; }
	}
	.features-contents-link { clear:both; text-align:center; font-size:90%; }

	@include breakpoint(medium) {
		.magazine-features		{ overflow:auto; }
		.magazine-contents 		{ overflow:auto; padding-left:20px; }
	}

	@include breakpoint(large) {
		.feature 			{ width:33% }
	}
}

.type-cover-contents 		{
	@include breakpoint(medium) {
		.cover				{ width:30%; float:left;
			img 			{ width:100%; box-shadow:3px 3px 5px #00000044; }
		}
		.magazine-contents 	{ overflow:auto; padding-left:20px; }
	}
}

.magazine-contents 			{
	a 						{ text-decoration:none; color:$copy-on-white;
		&:hover				{ text-decoration:none; }
	}
	.section 				{ overflow:auto; padding:5px 0; margin:5px 0; margin-bottom:10px; }
	.title 					{ font-family: 'Roboto Condensed', 'Source Sans', sans-serif; border-bottom:3px dashed #f6f6f6; margin-top:0;
		&:hover				{ border-color:$soft-link;}
	}
	.page					{ display:inline-block; float:right;  color:#333; text-align:right; }
	.also					{ padding-top:10px; clear:both;
		&:before			{ font-style:italic; content: "Also: ";   }
	}
	.parts 					{ padding-left:0; overflow:auto; list-style-type:none; background-size:180px 100%;
		li 					{ border-bottom:3px solid #fff;
			&:hover 		{ border-bottom:3px dashed $soft-link; }
		}

	}
	.section-image			{ display:none; width:100%; height:150px; background-size:cover; position:relative; }
	.subtitle				{ background-color:#00000088; font-weight:400; color:#fff; padding:10px;  }
	.subtitle-page			{ display:none; font-size:90%; text-align:center; background-color:#00000099; position:absolute; color:#fff;  bottom:0; right:0; padding:5px; }

	.feature				{  }
	.desc 					{ margin-top:-5px;  }
	.feature-image 			{ float:left; margin-right:20px; width:180px; height:120px; background-size:cover; background-repeat:no-repeat; }


	@include breakpoint(medium) {
		.section-image		{ display:block; float:left;  width:180px; margin-right:15px; position:relative; }
		.subtitle			{ display:none; }
		.section			{ padding:5px; margin:5px;}
	}
}

.magazine-archive			{ margin:0 -20px;
	.tabs 					{ display:none; } /* By default, don't display the the tabs */
	.magazine-cover			{ float:left; margin:20px; }
	.cover 					{ width:180px; height:232px; position:relative; background-size:cover;
		&:before 			{ content:""; width:180px; height:232px; opacity:0; position:absolute;  background-color:rgba(0,0,0,0.5); }
		.links 				{ color:#fff; font-size:90%; position:absolute; width:100%; bottom:0; padding:10px; z-index:5; display:none; }
		a 					{ color:#fff; display:block; width:100%; border:1px solid #fff; margin-top:5px; padding:2px 5px; text-align:center;
			&:visited		{ color:#fff; text-decoration:none; }
			&:hover			{ background-color:#fff; color:#555; text-decoration:none; }
		}

		&:hover,
		&.active 			{
			&::before 		{ opacity:1; transition:all 0.15s ease-in; }
			.links 			{ display:block; }
		}
	}
	.title 					{ margin:5px 0; text-align:center;}
	.cover					{ display: block;  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); transition: box-shadow 150ms;
		img 				{ width:150px; height:193px; 
			@include breakpoint(medium) { width:180px; height:232px; }
		}
	}
	.edit_link.share   		{ display:block; text-align:center; margin-top:-10px;  }
}

.single-feature 			{
	.feature-header			{ position:relative; background-size:0;  }
	.fl-post-meta 			{ font-size:85%; font-weight:300; }
	.shadow					{
		.fl-post-thumb 		{ margin:-20px; margin-bottom:20px; }
		.container 			{ max-width:950px; }


	}
	.fl-post-content > p:first-child	{ font-size:120%; color:#bbb; font-weight:300; margin-bottom:20px;  }

	@include breakpoint(medium) {
		.feature-header		{ min-height:500px; background-size:cover; background-position:center; }
		.shadow 			{ background-color:rgba(0,0,0,0.5); text-align:center; height:100%; width:100%; color:#fff; min-height:initial; position:absolute; bottom:0; height:initial; padding-top:0;
			.fl-post-thumb 	{ display:none; }
			h1 				{ color:#fff; }
			.fl-content 	{ margin-top:20px; margin-bottom:60px; }
			.fl-post-meta a { color:#fff; }
			.fl-post-meta a:hover { color:$accent1;  }
		}
		.fl-post-content 	{ padding:50px 80px; max-width:1100px; margin:-80px auto 0; background-color:#fff;
			& > p:first-child { font-size:140%; margin-bottom:20px; }
		}
	}
}

.single-classy 					{
	h1 							{ margin-top:-5px; margin-bottom:-5px; }
	header.cpt-title			{ padding:10px; }
	article.fl-post 			{ padding:10px; margin-bottom:40px; overflow:auto;}
	.main-content 				{ float:left; width:50%; padding-bottom:40px;   }
	.sale-terms 				{ text-transform:uppercase; color:#aaa; }
	.price						{ color:#82b4a9; font-size:140%;  }
	.location 					{ text-transform:uppercase;  color:#aaa;  }
	.content					{ margin-top:20px; }
	.seller_info				{ margin-top:20px; }
	.main-photo 				{ float:left; width:50%; padding-right:30px;  }

	.update-classy-ad 			{ display:none; float:left; width:50%; padding-bottom:40px;  }
	#update_magad				{ display:none;
		textarea 				{ width:100%; min-height:120px; }
	}

	#edit_main_content 			{ height:250px; }
	#edit_ad_asking_price		{ display:inline-block; width:auto;}

	.subscription				{ clear:both; overflow:auto; background-color:$super-light-grey; border-radius:5px; padding:8px 20px; margin:20px -10px;
		h3 						{ margin-top:5px; }
		.desc 					{ float:left; width:50%; }
		.magazine-preview 		{ width:350px; float:right; font-size:90%; background-color:#fff; padding:3px 8px;
			.mag-section		{ color:#fff; font-size:120%; padding:10px; margin:10px 0; text-align:center; font-style:italic; text-transform:uppercase; background-color:$accent2; }
			.mag-img 			{ height:200px; background-size:cover; background-position:bottom; }
			.title 				{ text-transform:uppercase; font-weight:bold; }
		}
	}
	.form-submit 				{ margin:10px 0; }
}

.main-photo.editable 			{
	.main-photo-preview			{ position:relative;
		ol.new-images 			{ list-style-type:none; padding-left:0; margin-bottom:0; }
		.submit-new-image 		{ position:absolute; bottom:10px; right:10px; }
	}

	.main-image-fields			{
		label 					{ display:initial; color:$accent6; font-size: 13px !important;  font-weight: normal !important; text-transform: none !important;
			&:hover				{ cursor:pointer; text-decoration:underline;}
		}
		input[type=file]		{ opacity:0; }
	}
}

.classy_widget 	{
	.primary-filters 		{ background-color:$super-light-grey; padding:5px 10px; text-align:center; margin:20px 0;
		li 					{ display:inline-block; margin-right:15px; }
	}
	.secondary-filters 		{ background-color:$super-light-grey; width:300px; margin-right:10px; float:left; padding:20px;
		h3 					{ margin-top:0; }
		.filter				{ margin-bottom:10px;}
		.search-filter 		{
			input 			{ display:inline-block; width:90%; }
			i 				{ margin-left:-30px; color:$accent2; padding-top:4px; }
		}
		.max-min-filters 	{
			input 			{ display:inline-block; }
		}
	}

	.secondary-cats 				{
		li 							{ list-style-type:none; }
		li label 					{ margin-top:0; }
		&>li>label 					{ display:none; }
		.children 					{ display: none; }
		.popular-category .children { display:block; }
	}
	.classyads 			{ margin-left: 325px; margin-right:-30px; }
}

.classyads 		{
	.ad			{ position:relative; float:left; width:370px; height:240px; margin-right:30px; margin-bottom:25px; background-size:cover; background-position:bottom; }
	.meta	 	{ position:absolute; top:0; width:100%; background-color:rgba(0,0,0,0.5); color:#fff; padding:5px 10px }
	.title 		{ font-weight:bold; text-transform:uppercase; }
	.title a 	{ color:#fff; }
	.price 		{ font-size:90%; margin-top:-5px; font-weight:600; }
	.location 	{ font-size:85%; font-weight:300; margin-top:-5px; }

}

/* Are these the lectronic stories on archive pages... if so, we should update the css to match the standard. */
.stories 		{
	h2 					{ margin-top:0; }
	.story 				{ overflow:auto; margin-bottom:20px; }
	.title 				{ font-size:140%; font-weight:bold; color:#333;  margin-left:170px;}
	.img img 			{ width:150px; float:left; }
	.desc 				{ margin-left:170px; }
}

.column-step 	{ background-color: $accent1; color:#fff; padding:20px 10px 40px; text-align:center;
	.order		{ font-size:400%; font-weight:bold; padding:10px; border-bottom:3px solid $accent2; margin:0 80px; }
	.title 		{ text-transform:uppercase; font-weight:500; font-size:150%; margin:10px 0; color:#fff; }
	.desc		{ color:#fff; margin:20px 0; }
}

%horizontal-story 			{ margin-bottom:30px;
	.image	 				{ float:left; width:33%; margin-right:20px; }
	.title 					{ font-size:170%; margin-top:0; }
}

/* Lectronic-Edition covers output of the lectronic widget that displays stories from a current edition. It should also be used for archive listings of stories. */
.lectronic-edition 			{ overflow:hidden;
	.story 					{ margin-bottom:30px; overflow:hidden;
		.title 				{ font-weight:600; margin:0px; font-size: 140%; line-height: 1.35;
			a 				{ color:#333; }
			a:hover 		{ color:$accent2; text-decoration:none; }
		}
	}
	.alt_header				{ color:$accent2; font-size:90%; text-transform:uppercase;  font-weight: 100; margin-top:5px; }
	.read-more 				{ display:inline; }
	.edit_link 				{ display:block; }
	.desc 					{ font-size:95%; margin-right:10px; }
	.image 					{ background-size:cover; overflow:hidden; padding-top: 56.25%; background-position:center;
		img 				{ display:none; }
	}

	/* Note... these layouts require the assistance of equalize.js and the selectors are called in scripts.js */
	@include breakpoint(medium) { margin-bottom:10px;

		&.first .section-heading { margin-top:0; }

		&.two-story 			{
			.story				{ float:left; width:48%; margin-right:2%;
				&:last-child 	{ margin-right:0; }
			}
		}

		&.first.three-story {
			.main.story 	{
				.title 		{ font-size:180%; }
				.image	 	{ float:left; width:48%; height:300px; padding-top:0; margin-right:20px; }
				.alt_header		{ margin-top:0; }
			}
			.normal.story	{ float:left; width:48%; margin-right:2%;
				&:last-child { margin-right:0; }
			}
		}

		&.three-story:not(.first) 		{
			.story			{ float:left; width:32%; margin-right:2%;
				&:last-child { margin-right:0; }
			}
		}

		&.four-story 		{
			.main.story 	{
				.title 		{ font-size:180%; }
				.image	 	{ float:left; width:50%; height:275px; padding-top:0; margin-right:20px; }
				.alt_header		{ margin-top:0; }
			}

			.normal.story	{ float:left; width:32%; margin-right:2%;
				&:last-child { margin-right:0; }
			}
		}

		&.five-story,
		&.six-story,
		&.seven-story,
		&.eight-story
		{
			.main .desc 	{ display:none; }
			.story			{ float:left; width:32%; margin-right:2%;
				&:nth-child(3n) { margin-right:0; }
			}
		}
	}
}

.lectronic_stories 			{
	.older-links 			{ font-weight:400; text-align:right; border-bottom: 3px dashed #e6e6e6; padding-bottom:7px; // #b4e7f8
		a 					{ }
		&:hover a			{ text-decoration:none; }
	}
}

.fl-post.category-advertisment 	{ padding: 20px; background-color: #f6f6f6; border-bottom: 0;
	.post-categories li 		{ background-color:#fff; }
}

.social-buttons 				{ margin: 20px 0px 25px 0px; font-size: 90%;
	.intro						{ font-weight:bold; text-transform:uppercase; padding-right:10px; }
	.fa 						{ padding:3px }
	.social-link 				{ min-width:35px; padding: 2px 8px 4px 8px !important; color: white; font-weight:400;  border-radius: 2px; margin-right: 4px; cursor: pointer;  -moz-background-clip: padding;  -webkit-background-clip: padding-box;  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);  -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);  -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);  margin-top: 2px;  display: inline-block;  text-decoration: none;
		.social-text 			{ display:none; }
		&:hover,
		&:active 				{ color: white; }

		&.social-twitter 		{  background: #00aced;
			&:hover,
			&:active 			{  background: #0084b4;  }
		}

		&.social-email 			{  background: #ccc;
			&:hover,
			&:active 			{ background: #bbb; }
		}

		&.social-facebook 		{  background: #3B5997;
			&:hover,
			&:active 			{ background: #2d4372; }
		}
	}

	@include breakpoint(medium) {
		.fa 					{ padding-right:12px; }
		.social-link 			{
			.social-text 		{ display:inline; }
		}
	}
}

.subscribe-notice 				{ max-width:860px; background-color:$super-light-grey; padding:10px 20px; text-align:center; margin:20px auto; font-weight:400;  }

.lectronic .widget_archive,
.widget_archive					{
	select						{ }
}

.widget.lectronic_archive 				{ float:left; margin-top:-10px;
	h2 									{ display:inline; font-weight:400; font-size:100%; margin:0; padding-right:20px; }
	.arc-count 							{ display:none; }
	.dropdown-menu>li>a 				{ padding:4px 15px; }
	.dropdown-menu						{ top:initial; left:initial; font-size:100%; min-width:100px; }
	.dropdown-submenu 					{ position: relative; font-size:90%;  }
	.dropdown-submenu .dropdown-menu 	{ top: 0; left: 100%; margin-top: -1px;  }
}

.fl-page-nav-search .widget.lectronic_archive { float:right; margin-top:-34px;
	button 								{ text-transform:uppercase; min-width:100px; border: 0; background-color:#e6e6e6; color: #999; font-weight: 300; padding: 4px 10px 5px; border-top-right-radius: 3px; border-bottom-right-radius:3px; border-left:1px solid #d6d6d6; margin-right:1px;
		.caret 							{ color:#999; }
	}
	a * 								{ color:#999; }
	.dropdown-menu						{ top:initial; left:initial; font-size:100%; min-width:100px; }
	.dropdown-submenu .dropdown-menu 	{ top: 0; left: 100%; margin-top: -1px;  }
	.dropdown-menu>li>a 				{ color:#999; padding:4px 15px; }
	.dropdown-submenu .dropdown-menu>li>a 	{ color:#999;  }
}

.fl-comments 						{
	.fl-comments-list-title			{ margin-bottom:25px; }
	.time-since 					{ color:#ccc; font-size:80%; padding-left:10px; font-weight:300;}
	.comment 						{ margin-top:15px !important; border-bottom:1px solid #e6e6e6; padding-bottom:15px;
		.comment-respond 			{ margin-left:60px; margin-bottom:20px;
			h3 						{ font-size:100%; font-weight:500; }
				a 					{ color:$accent2;  }
		}
	}
	.fl-comments-list ul.children li { border-bottom:0; }
	.comment-avatar					{ float:left; }
	.comment-avatar	img				{ margin:5px; }
	.comment-meta					{ margin:8px 0 0 62px; }
	.comment-author					{ font-weight:bold; }
	.comment-author a 				{ color:initial;
		&:hover						{ text-decoration:underline;}
	}
	.comment-options				{ font-size:80%;  padding-left:62px; }
	.comment-content 				{ font-size:95%; padding:5px 7px; padding-bottom:0; margin-left:55px; border:0; background-color:#f6f6f6; border-radius:5px; font-weight:300;
		p:last-child				{ margin-bottom:5px; }
	}
	.acf-field 						{ width:33%; float:left; clear:none;
		.acf-label 						{ display:none; }
		.acf-input 					{ padding-right:10px !important; }
	}
	.acf-field:last-of-type	.acf-input { padding-right:0 !important;}
	label.required::after 			{ content:"*"; color:red; padding:0 2px;}
	.fl-comments-list .comment-reply-link { padding:0; padding-right:4px; }
	.comment_field label			{ display:none; }
	.comment_field 					{ margin-bottom:5px; }
	.cancel-reply-link				{ float:right; font-size:80%; }
}

.account.dropdown 					{
	.dropdown-menu					{ background-color:#1a9fcd; border:0; border-radius:0; margin-top:8px; margin-left:11px; padding:0;
		a 							{ display:block; padding:7px 8px;}
		a:hover						{ background-color:$accent2; text-decoration:none; }
	}
}

#login-register	 					{ max-width:600px;
	.lost 							{ font-size:85%; }
	.submit-field					{ text-align:right; }
	.register-form					{ display:none; }

	.toggle-login-register 			{ font-size:90%; text-align:center; background-color:#fff6e1; margin: -20px; margin-top: 40px; padding: 10px 20px; }
}

.page-my-account 					{

	.main-photo 					{ float:left; width:300px; padding-right:30px;  }
	.main-content 					{ float:left;  padding-bottom:40px;   }

	.my-profile 					{ padding-top:20px;
		.name						{ font-size:140%; font-weight:600; }
		.location 					{ color:#aaa; }
	}

	.my-classies 					{
		.ad 						{ width:100%;  padding:5px; position:relative; margin-bottom:5px; overflow:auto;
			&:nth-child(even) 		{ background-color:$super-light-grey;  }
		}
		.img 						{ float:left; width:150px; }
		.price 						{ font-size:90%; }
		.img img					{ height:100px; }
		.info						{ margin-left:160px; }
		.title 						{ font-size:115%; font-weight:bold; }
		.options 					{ position:absolute; right:0; top:0; max-width:250px; padding-right:10px; padding-top:5px;  }
		.status 					{ font-size:85%; }



	}
}