.single-issue 				{
	.cover					{ text-align:center; padding-bottom:20px;
		img					{  }
	}
}

.type-cover-features {
	.feature 				{ overflow:auto; width:50%; float:left;
		.feature-image		{ border-right:15px solid $background-grey; height:207px; background-size:cover; position:relative; margin-bottom:13px; }
		.title				{ background-color:#00000088; font-weight:700; font-size:120%; color:#fff; padding:10px; margin:0; }
		.page				{ font-size:90%; text-align:center; background-color:#000000cc; position:absolute; color:#fff;  bottom:0; right:0; padding:5px; }
		.desc				{ display:none; }
	}

	@include breakpoint(medium) {
		.magazine-features	{ margin-left:33%; }
		.magazine-contents 	{ overflow:auto; padding-left:20px; }
		.cover				{ width:30%; float:left;
			img 			{ width:100%; }
		}
	}

	@include breakpoint(large) {
		.feature 			{ width:33% }
	}
}

.type-features {
	.feature 				{ overflow:auto; width:50%; float:left;
		.feature-image		{ border-right:15px solid #fff; height:207px; background-size:cover; position:relative; margin-bottom:13px;
			&:nth-child(3n+1) { border-right:0; }
		}
		.title				{ background-color:#00000088; font-family: 'Roboto Condensed', 'Source Sans', sans-serif; font-weight:700; font-size:120%; color:#fff; padding:10px; margin:0; }
		.page				{ font-size:90%; text-align:center; background-color:#000000cc; position:absolute; color:#fff;  bottom:0; right:0; padding:5px; }
		.desc				{ display:none; }
	}

	@include breakpoint(medium) {
		.magazine-contents 	{ overflow:auto; padding-left:20px; }
	}

	@include breakpoint(large) {
		.feature 			{ width:33% }
	}
}

.type-cover-contents 		{
	@include breakpoint(medium) {
		.cover				{ width:30%; float:left;
			img 			{ width:100%; }
		}
		.magazine-contents 	{ overflow:auto; padding-left:20px; }
	}
}

.magazine-contents 			{
	a 						{ text-decoration:none; color:$copy-on-white;
		&:hover				{ text-decoration:none; }
	}
	.section 				{ overflow:auto; padding:5px 0; margin:5px 0; margin-bottom:10px; }
	.title 					{ font-family: 'Roboto Condensed', 'Source Sans', sans-serif; border-bottom:3px dashed #f6f6f6; margin-top:0;
		&:hover				{ border-color:$soft-link;}
	}
	.page					{ display:inline-block; float:right;  color:#333; text-align:right; }
	.also					{ padding-top:10px; clear:both;
		&:before			{ font-style:italic; content: "Also: ";   }
	}
	.parts 					{ padding-left:0; overflow:auto; list-style-type:none; background-size:180px 100%;
		li 					{ border-bottom:3px solid #fff;
			&:hover 		{ border-bottom:3px dashed $soft-link; }
		}

	}
	.section-image			{ display:none; width:100%; height:150px; background-size:cover; position:relative; }
	.subtitle				{ background-color:#00000088; font-weight:400; color:#fff; padding:10px;  }
	.subtitle-page			{ display:none; font-size:90%; text-align:center; background-color:#00000099; position:absolute; color:#fff;  bottom:0; right:0; padding:5px; }

	.feature				{  }
	.desc 					{ margin-top:-5px;  }
	.feature-image 			{ float:left; margin-right:20px; width:180px; height:120px; background-size:cover; background-repeat:no-repeat; }

	@include breakpoint(medium) {
		.section-image		{ display:block; float:left;  width:180px; margin-right:15px; position:relative; }
		.subtitle			{ display:none; }
		.section			{ padding:5px; margin:5px;}
	}
}

.magazine-archive			{ margin:0 -20px;
	.magazine-cover			{ float:left; margin:20px; }
	.title 					{ margin:5px 0;}
	.cover					{ display: block;  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); transition: box-shadow 150ms;
		img 				{ width:180px; height:232px; }
	}
}

/* Are these the lectronic stories on archive pages... if so, we should update the css to match the standard. */
.stories 		{
	h2 					{ margin-top:0; }
	.story 				{ overflow:auto; margin-bottom:20px; }
	.title 				{ font-size:140%; font-weight:bold; color:#333;  margin-left:170px;}
	.img img 			{ width:150px; float:left; }
	.desc 				{ margin-left:170px; }
}

.column-step 	{ background-color: $accent1; color:#fff; padding:20px 10px 40px; text-align:center;
	.order		{ font-size:400%; font-weight:bold; padding:10px; border-bottom:3px solid $accent2; margin:0 80px; }
	.title 		{ text-transform:uppercase; font-weight:500; font-size:150%; margin:10px 0; color:#fff; }
	.desc		{ color:#fff; margin:20px 0; }
}

%horizontal-story 			{ margin-bottom:30px;
	.image	 				{ float:left; width:33%; margin-right:20px; }
	.title 					{ font-size:170%; margin-top:0; }
}

/* Lectronic-Edition covers output of the lectronic widget that displays stories from a current edition. It should also be used for archive listings of stories. */
.lectronic-edition 			{ overflow:hidden;
	.story 					{ margin-bottom:30px; overflow:hidden;
		.title 					{ font-weight:900; margin:0px; font-size: 160%; line-height: 1.35;
			a 					{ color:#333; }
			a:hover 			{ color:$accent2; text-decoration:none; }
		}
	}
	.alt_header				{ color:$accent2; font-size:90%; text-transform:uppercase;  font-weight: 100; margin-top:5px; }
	.read-more 				{ display:inline; }
	.edit_link 				{ display:block; }
	.desc 					{ font-size:95%; margin-right:10px; }
	.image 					{ background-size:cover; overflow:hidden; padding-top: 56.25%; background-position:center;
		img 				{ display:none; }
	}

	/* Note... these layouts require the assistance of equalize.js and the selectors are called in scripts.js */
	@include breakpoint(medium) { margin-bottom:10px;

		&.first .section-heading { margin-top:0; }

		&.two-story 		{
			.story			{ float:left; width:48%; margin-right:2%;
				&:last-child { margin-right:0; }
			}
		}

		&.first.three-story {
			.main.story 	{
				.title 		{ font-size:200%; }
				.image	 	{ float:left; width:48%; height:300px; padding-top:0; margin-right:20px; }
				.alt_header		{ margin-top:0; }
			}
			.normal.story	{ float:left; width:48%; margin-right:2%;
				&:last-child { margin-right:0; }
			}
		}

		&.three-story:not(.first) 		{
			.story			{ float:left; width:32%; margin-right:2%;
				&:last-child { margin-right:0; }
			}
		}

		&.four-story 		{
			.main.story 	{
				.title 		{ font-size:200%; }
				.image	 	{ float:left; width:50%; height:275px; padding-top:0; margin-right:20px; }
				.alt_header		{ margin-top:0; }
			}

			.normal.story	{ float:left; width:32%; margin-right:2%;
				&:last-child { margin-right:0; }
			}
		}

		&.five-story,
		&.six-story,
		&.seven-story,
		&.eight-story
		{
			.story			{ float:left; width:32%; margin-right:2%;
				&:nth-child(3n+1) { margin-right:0; }
			}
		}
	}
}

.lectronic_stories 			{
	.older-links 			{ font-weight:400; text-align:right; border-bottom: 3px dashed #e6e6e6; // #b4e7f8
		a 					{ }
		&:hover a			{ text-decoration:none; }
	}
}



